@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:ital,wght@0,300..700;1,300..700&family=Inter:wght@300..700&family=JetBrains+Mono:wght@400..800&display=swap');
@import "tailwindcss";

@theme {
  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-label: "Space Grotesk", sans-serif;
}

.sherpa-slash {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}

.sherpa-slash-reverse {
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}

.sherpa-grid {
    background-image: linear-gradient(to right, rgba(4, 120, 87, 0.05) 1px, transparent 1px),
                      linear-gradient(to bottom, rgba(4, 120, 87, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
}
